name: CI/CD Pipeline

on:
        push:
                branches:
                        - main

jobs:
        build:
                runs-on: ubuntu-latest

                steps:
                        - name: Checkout repository
                          uses: actions/checkout@v2

                        - name: Set up Node.js
                          uses: actions/setup-node@v2
                          with:
                                  node-version: '16' # Ensure this matches your project requirements

                        - name: Install dependencies
                          run: npm install # Use the appropriate command for your project

                        - name: Build Next.js application
                          run: npm run build

                        - name: Deploy to GCP
                          env:
                                  GCP_PROJECT_ID: ${{ secrets.GCP_PROJECT_ID }}
                                  GCP_SA_KEY: ${{ secrets.GCP_SA_KEY }}
                          run: |
                                  echo $GCP_SA_KEY | base64 --decode > ${HOME}/gcp-key.json
                                  gcloud auth activate-service-account --key-file=${HOME}/gcp-key.json
                                  gcloud config set project $GCP_PROJECT_ID
                                  gcloud app deploy --quiet
